<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">
<title>跳转中...</title>

</head>
<body>
<script>
(function() {
  var returnUrl = <%= JSON.stringify(return_url) %>;
  if (returnUrl && typeof returnUrl === 'string') {
    window.location.href = returnUrl;
  } else {
    document.body.innerHTML = '<p>跳转地址无效</p>';
  }
})();
</script>
</body>
</html>